@import url("https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5+Charted&family=Rubik+Broken+Fax&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #f0f7f4;

  .howtoplay {
    font-family: "Ubuntu Sans Mono", monospace;
  }
  .rsd-max-w-md {
    max-width: 90%;
  }

  header {
    font-size: 50px;
    width: 100%;
    height: 20%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      height: 100%;
      // width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-height: 90%;
        max-width: 90%;

        object-fit: contain;
      }
    }
    .text {
      height: 100%;
      // width: 50%;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #232c33;
      img {
        max-height: 90%;
        max-width: 90%;
        object-fit: contain;
      }
      &-top {
        font-size: 100px;
        font-family: "Micro 5 Charted", sans-serif;
        color: #3c493f;
      }
      &-bottom {
        font-size: 55px;
        font-family: "Jersey 25 Charted", sans-serif;
        color: #3c493f;
      }
    }

    @media screen and (orientation: landscape) {
      height: 20%;
      .logo {
        width: auto;
      }
      .text {
        flex-direction: row;
        width: auto;
        &-top {
          font-family: "Jersey 25 Charted", sans-serif;
          font-size: 55px;
          color: #080808;
        }
        &-bottom {
          color: #a0a0a0;
        }
      }
    }
  }
  header.inactive {
    display: none;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    &.mode {
      height: 100%;
      display: flex;

      .mode-title {
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 3px;
        padding: 20px;
        text-transform: uppercase;
        text-align: center;
        font-family: "Ubuntu Sans Mono", monospace;
      }
      .mode-buttons {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 20px;
        button {
          // height: 50%;
          padding: 30px;
          width: 100%;
          max-width: 300px;
          display: flex;
          justify-content: space-between;
          &.mode {
            background-color: #7e8d85;
            color: #f0f7f4;
          }
          &.fullscreen {
            display: flex;
            flex-direction: column;
            font-size: 25px;
            max-width: none;
            height: 100%;
            color: #3c493f;
            border-color: #3c493f;
            font-family: "Ubuntu Sans Mono", monospace;
            background-color: none;
            .text {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
            }
            &.none {
              display: none;
            }
            p:nth-of-type(even) {
              font-size: 15px;
            }
            svg {
              width: 200px;
              height: 200px;
            }
          }
        }
        @media screen and (orientation: landscape) {
          height: 95%;
          gap: 10px;
          button.fullscreen {
            flex-direction: row;
            justify-content: center;
            gap: 50px;
            width: auto;
          }
        }
        @media screen and (min-width: 500px) and (min-height: 700px) {
          flex-direction: row;
          // max-width: 400px;
          margin: 0 auto;
          height: auto;

          button.mode {
            width: 150px;
            height: 150px;
            font-weight: 800;
            flex-direction: column;
            padding: 0;
            gap: 20px;
            justify-content: center;

            svg {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
      @media screen and (min-width: 500px) and (min-height: 700px) {
        justify-content: center;
        align-items: center;
        // padding: 0;
      }
    }
    &.options {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      align-items: center;
      .options-speed,
      .options-effort {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #3c493f;
        font-family: "Ubuntu Sans Mono", monospace;
        &__title {
          font-size: 50px;
          text-transform: uppercase;
          text-align: center;
        }
        &__set {
          gap: 20px;
          font-size: 80px;
          height: 80%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          button {
            font-weight: bold;
            font-size: 20px;
            text-transform: lowercase;
            padding: 5px 0;
          }
        }
      }
      .options-next {
        width: 90%;
        margin: 5%;
        // margin-right: 20px;
        height: 20%;
        max-width: 500px;
        button {
          width: 100%;
          height: 100%;
          background-color: #7e8d85;
          font-family: "Ubuntu Sans Mono", monospace;
          font-size: 30px;
        }
      }
    }
    &.topic {
      font-family: "Ubuntu Sans Mono", monospace;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      max-width: 900px;
      .topic-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        text-transform: uppercase;
        &__top {
          font-size: 30px;
          button {
            margin-top: 5px;
            font-family: "Ubuntu Sans Mono", monospace;
            letter-spacing: 1.5px;
          }
        }
        &__bottom {
          width: 200px;
          font-size: 15px;
          position: relative;
          button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 100%;
            min-width: 0;
            width: 30px;
            height: 30px;
            background-color: #be7777;
          }
        }
      }
      .topic-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: auto;
        button {
          background-color: #b3bfb8;
          color: #3c493f;
          font-family: "Ubuntu Sans Mono", monospace;
          padding: 20px;
          margin: 5px;
          flex-grow: 1;
          &.active {
            border: 1px solid #3c493f;
          }
        }
      }
      .topic-confirm {
        margin-top: 10px;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          max-width: 500px;
          font-family: "Ubuntu Sans Mono", monospace;
          font-size: 25px;
          background-color: #7e8d85;
          width: 100%;
          height: 100%;
        }
      }

      @media screen and (orientation: landscape) {
        .topic-title {
          flex-direction: row;
          &__top {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;
            font-size: 25px;
          }
        }
      }
    }
    &.good,
    &.skip {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-family: "Ubuntu Sans Mono", monospace;
      font-size: 100px;
      font-weight: 800;
    }
    &.good {
      background-color: #3c493f;
      color: #7e8d85;
    }
    &.skip {
      background-color: #e76943;
      color: #3c493f;
    }

    &.theend {
      height: 100%;
      width: 100%;
      padding: 50px 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-family: "Ubuntu Sans Mono", monospace;
      font-size: 20px;
      overflow: auto;
      .theend-result {
        font-size: 50px;
        padding: 0 0 20px;
        text-align: center;
      }
      .good {
        color: #71ac8d;
        font-weight: 500;
      }
      .false {
        font-weight: 500;
        color: rgb(189, 36, 36);
      }
      @media screen and (orientation: landscape) {
        flex-wrap: wrap;
        height: 80%;
        padding: 0 10px 10px 20px;
        .theend-result {
          font-size: 30px;
          padding: 0 0 10px;
          text-align: center;
        }
      }
    }
  }

  .game.starter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #7e8d85;
    font-family: "Ubuntu Sans Mono", monospace;
    height: 100%;
  }
  .game {
    font-family: "Ubuntu Sans Mono", monospace;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-time {
      position: relative;
      height: 50px;
      width: 100%;
      &__inside {
        background-color: #3c493f;
        height: 100%;
      }
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 25px;
        color: #7e8d85;
      }
    }

    &-topic {
      width: 100%;
      text-align: center;
      &__name {
        padding: 0 10px;
        color: #3c493f;
        font-size: 50px;
        font-weight: 700;
      }
    }

    &-buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      button {
        flex-grow: 1;
        width: 100%;
        margin: 0 5px 5px;
      }
    }
  }
}
